@page "/categories"
@attribute [Authorize(Roles = "Admin")]
@using Microsoft.AspNetCore.Components.QuickGrid
@inject Geld_Guardian.Data.ApplicationDbContext DB
@using Geld_Guardian.Pages.Data.Models

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="categories/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.Categorie">
    <PropertyColumn Property="categories => categories.Name" />
    <PropertyColumn Property="categories => categories.Description" />

    <TemplateColumn Context="categories">
        <a href="@($"categories/edit?id={categories.CategorieId}")">Edit</a> |
        <a href="@($"categories/details?id={categories.CategorieId}")">Details</a>
    </TemplateColumn>
</QuickGrid>
