@page "/BudgetOverview"
@inject IJSRuntime JSRuntime

<h3>Budget Overview</h3>

<div class="budget-container">
     <h5>Monat: April 2024</h5>

    <!-- Einkommen Tabelle -->
    <table class="table">
        <thead>
            <tr>
                <th>Kategorie</th>
                <th>Betrag</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Arbeitslohn</td>
                <td>2500€</td>
            </tr>
            <tr>
                <td>Geburtstagsgeld</td>
                <td>250€</td>
            </tr>
        </tbody>
    </table>


    <!-- Ausgaben Tabelle -->
    <table class="table">
        <thead>
            <tr>
                <th>Kategorie</th>
                <th>Betrag</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Wohnen</td>
                <td>800€</td>
            </tr>
            <tr>
                <td>Transport</td>
                <td>500€</td>
            </tr>
            <tr>
                <td>Essen</td>
                <td>350€</td>
            </tr>
            <tr>
                <td>Freizeit</td>
                <td>200€</td>
            </tr>
        </tbody>
    </table>

    <div class="total-amount">
        <strong>Gesamt Einkommen:</strong> 2750€
    </div>

    <div class="total-amount">
        <strong>Gesamt Ausgaben:</strong> 1850€
    </div>

    <div class="total-amount">
        <strong>Endbetrag:</strong> ---€
    </div>

    <textarea id="note" rows="3" placeholder="Hier können Sie eine Notiz hinzufügen..."></textarea>
</div>

<script src="js/site.js"></script>

@code {

}

