@page "/EinnahmenAusgaben"
<h3>Einnahmen-/Ausgabenerfassung</h3>


<div class="login-container">
    <div class="row">
        <div class="col-md-10">
            <section>
                <form id="account" method="post">
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <label asp-for="Input.Email" class="form-label">Firmanname</label>
                        <input asp-for="Input.Email" class="form-control" aria-required="true"/>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <label asp-for="Input.Password" class="form-label">Betrag</label>
                        <input asp-for="Input.Password" class="form-control" aria-required="true"/>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div>
                        <button id="login-submit" type="submit" class="btn btn-secondary">Login</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>


@code {

}
