@page "/impressum"

<h1>Imprint</h1>

<div class="impressum">
    <div class="impressum-inhalt">
        <h2>Contact</h2>
        <p><b>Address</b>: Neubaugasse 10, 1070</p>
        <p><b>Tel.</b>: +43 123 456 789</p>
        <p><b>Memberships</b>: Wirtschaftskammer Wien</p>
        <p><b>E-Mail</b>: office@Geld-Guardian.at</p><br>

        <h2>Legal</h2>
        <p><b>Corporate purpose</b>:  Development and operation of an online budget management tool for managing finances and expenses for private individuals.</p>
        <p><b>UID-Nr</b>: ATU98765432</p>
        <p><b>CN</b>: 87554ab</p>
        <p><b>CR-Court</b>: Handelsgericht Wien</p>
        <p><b>Headquarters</b>: Neubaugasse 10, 1070</p>
        <p><b>Occupational law</b>: Gewerbeordnung - <a href="https://www.ris.bka.gv.at" target="_blank">www.ris.bka.gv.at</a></p>
        <p><b>Regulatory authority</b>: Magistratisches Bezirksamt des I. Bezirks in Wien</p>
        <p><b>Managing directors</b>: Dahlke Sebastian, Wiesner Sophie, Rašo Mateo, Hauser Sophie, Stevic Jovo</p><br>


        <h2>Team members</h2>
        <div class="team-container">
            <div class="team-member">
                <img src="pics\Sebastian.jpg" alt="Sebastian Dahlke" />
                <p>Sebastian Dahlke</p>
            </div>
            <div class="team-member">
                <img src="pics/sophie2.jpg" alt="Sophie Wiesner" />
                <p>Sophie Wiesner</p>
            </div>
            <div class="team-member">
                <img src="pics/mateo.jpg" alt="Mateo Rašo" />
                <p>Mateo Rašo</p>
            </div>
            <div class="team-member">
                <img src="pics/sophie.jpg" alt="Sophie Hauser" />
                <p>Sophie Hauser</p>
            </div>
            <div class="team-member">
                <img src="pics/jovo.jpg" alt="Jovo Stevic" />
                <p>Jovo Stevic</p>
            </div>
        </div>
    </div>
</div>

@code {
    
}
