@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
        <a href="https://project.nassd001.synology.me/projects/geldguardian-aka-gg/" target="_blank">Planung</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
