@page "/paymentmethods/create"
@attribute [Authorize(Roles = "Admin")]
@inject Geld_Guardian.Data.ApplicationDbContext DB
@using Geld_Guardian.Components.Data.Models
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>PaymentMethod</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="PaymentMethod" OnValidSubmit="AddPaymentMethod" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="PaymentMethod.Name" class="form-control" /> 
                <ValidationMessage For="() => PaymentMethod.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label> 
                <InputText id="description" @bind-Value="PaymentMethod.Description" class="form-control" /> 
                <ValidationMessage For="() => PaymentMethod.Description" class="text-danger" /> 
            </div>
            <div class="mb-3">
                <label for="useage" class="form-label">Use only for Expenses:</label>
                <InputCheckbox id="useage" @bind-Value="PaymentMethod.IsExpensesOnly" class="form-control" />
                <ValidationMessage For="() => PaymentMethod.IsExpensesOnly" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/paymentmethods">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public PaymentMethod PaymentMethod { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddPaymentMethod()
    {
        DB.PaymentMethod.Add(PaymentMethod);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/paymentmethods");
    }
}
