@page "/paymentmethods"
@attribute [Authorize(Roles = "Admin")]
@using Microsoft.AspNetCore.Components.QuickGrid
@inject Geld_Guardian.Data.ApplicationDbContext DB
@using Geld_Guardian.Components.Data.Models

<PageTitle>Payment Method</PageTitle>

<div class="row">
    <div class="col-md-11">
        <h1>Payment Method</h1>
        <p>
            <a href="paymentmethods/create">Create New</a>
        </p>
    </div>
    <div class="column">
        <img src="pics/gg.png" alt="Geld-Guardian Logo" height="120">
    </div>
</div>

<hr />

<div class="table-responsive">
    <QuickGrid Class="table" Items="DB.PaymentMethod">
        <PropertyColumn Property="paymentmethod => paymentmethod.Name" />
        <PropertyColumn Property="paymentmethod => paymentmethod.Description" />

        <TemplateColumn Context="paymentmethod">
            <a href="@($"paymentmethods/edit?id={paymentmethod.PaymentId}")">Edit</a> |
            <a href="@($"paymentmethods/details?id={paymentmethod.PaymentId}")">Details</a>
        </TemplateColumn>
    </QuickGrid>
</div>

