@page "/billitems"
@inject Geld_Guardian.Data.ApplicationDbContext DB
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore
@using Geld_Guardian.Pages.Data.Models

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="billitems/create">Create New</a>
</p>

<QuickGrid Class="table" Items="BillItems">
    <PropertyColumn Title="Bill ID" Property="billitem => billitem.BillId" />
    <PropertyColumn Title="Description" Property="billitem => billitem.Description" />
    <PropertyColumn Title="Category" Property="billitem => billitem.Category.Name" />
    <PropertyColumn Title="Quantity" Property="billitem => billitem.Quantity" />
    <PropertyColumn Title="Price per Unit" Property="billitem => billitem.UnitPrice" />

    <TemplateColumn Context="billitem">
        <a href="@($"billitems/edit?billitemid={billitem.BillItemId}")">Edit</a> |
        <a href="@($"billitems/details?billitemid={billitem.BillItemId}")">Details</a> |
        <a href="@($"billitems/delete?billitemid={billitem.BillItemId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    IQueryable<BillItem> BillItems;

    protected override void OnInitialized()
    {
        BillItems = DB.BillItems.Include(bi => bi.Category).AsQueryable();
    }


}
