@page "/paymentstatuses/details"
@attribute [Authorize(Roles = "Admin")]
@inject Geld_Guardian.Data.ApplicationDbContext DB
@using Geld_Guardian.Components.Data.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <hr />
    <h4>PaymentStatus</h4>
    @if (paymentstatus is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt id="row_label" class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@paymentstatus.Name</dd>
        </dl>
        <div>
            <a href="@($"/paymentstatuses/edit?statusid={paymentstatus.StatusId}")">Edit</a> |
            <a href="@($"/paymentstatuses")">Back to List</a>
        </div>
    }
</div>

@code {
#nullable enable
    PaymentStatus? paymentstatus;

    [SupplyParameterFromQuery]
    public int StatusId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        paymentstatus = await DB.PaymentStatus.FirstOrDefaultAsync(m => m.StatusId == StatusId);

        if (paymentstatus is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
