@page "/PaymentStatuses/edit"
@attribute [Authorize(Roles = "Admin")]
@inject Geld_Guardian.Data.ApplicationDbContext DB
@using Geld_Guardian.Pages.Data.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>PaymentStatus</h4>
<hr />
@if (PaymentStatus is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="PaymentStatus" OnValidSubmit="UpdatePaymentStatus" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="PaymentStatus.StatusId" value="@PaymentStatus.StatusId" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="PaymentStatus.Name" class="form-control" />
                    <ValidationMessage For="() => PaymentStatus.Name" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/paymentstatuses">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int StatusId { get; set; }

    [SupplyParameterFromForm]
    public PaymentStatus? PaymentStatus { get; set; }

    protected override async Task OnInitializedAsync()
    {
        PaymentStatus ??= await DB.PaymentStatus.FirstOrDefaultAsync(m => m.StatusId == StatusId);

        if (PaymentStatus is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdatePaymentStatus()
    {
        DB.Attach(PaymentStatus!).State = EntityState.Modified;

        try
        {
            await DB.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!PaymentStatusExists(PaymentStatus!.StatusId))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/paymentstatuses");
    }

    bool PaymentStatusExists(int statusid)
    {
        return DB.PaymentStatus.Any(e => e.StatusId == statusid);
    }
}
