.sidebar {
    background: #F9BEC7 !important;
}

    .sidebar .top-row {
        background-color: #f78d9d !important;
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #590d22 !important;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: #f78d9d !important;
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: #fca2af !important;
                color: white;
            }

.main .top-row{
    z-index: 1 !important;
}


a, .btn-link {
    color: #591326 !important;
}


#main-btn {
    margin-bottom: 10px;
    background-color: #ff006e;
    border-color: #ff0a54;
    color: white;
    transition: background-color 0.2s, color 0.2s;
}

    #main-btn:hover {
        background-color: #ff5c8a;
    }

#input-label {
    color: #b54e5d;
}

.row .form-control {
    border-color: #f0d3d7 !important;
}

/*Dropdown*/
#input-option {
    background-color: pink;
    transition: background-color 0.2s, color 0.2s;
}

    #input-option:hover {
        background-color: #ff5c8a !important;
    }

/*Kalender*/
.datetimebox{
    background-color: deeppink !important;
}

.datetime-input-box-wrapper{
    background-color: deeppink;
}

.datetime-input-edit-wrapper{
    background-color: deeppink;
}

.datetime-edit-field{
    background-color: deeppink;
}

.datetime-calendar-button{
    background-color: deeppink;
}


/*Add Item Container*/
#addItemCon {
    border: 3px solid #f78d9d;
    border-radius: 5px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

#itemH {
    background-color: #F9BEC7;
    border-radius: 8px;
    display: flex;
    color: #590d22;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

#item-btn {
    margin-bottom: 10px;
    background-color: #ff006e;
    border-color: #ff0a54;
    color: white;
    transition: background-color 0.2s, color 0.2s;
    width: 100%;
}

.table .col-title{
    color: #590d22;
}

.table .col{
    background-color: deeppink;
}

/*Budget Overview*/
.table-responsive {
    overflow-x: auto !important;
}
    .table-responsive thead {
        background-color: #fca2af;
        border: solid 5px;
        border-color: white;
    }
    .table-responsive td {
        background-color: #fcb6bf;
        text-align: center;
        vertical-align: middle;
        padding-top: unset;
        padding-bottom: unset;
        border: solid 1px;
        border-color: white;
    }
    .table-responsive tr {
        border: solid 5px;
        border-color: white;
    }

/*Homepage*/
#about-us {
    margin-left: 5%;
    color: #590d22;
}

#about{
    margin-left: 10%;
    margin-right: 10%;
    padding: 5px;
}

/*Budget Overview navigation*/

.paginator .pagination .page-link {
    color: deeppink !important; /* Weißer Text */
    background-color: deeppink !important; /* Blauer Hintergrund */
    border: 1px solid #007bff !important; /* Blauer Rahmen */
    padding: 0.5rem 0.75rem; /* Padding für die Seitenlinks */
    border-radius: 0.25rem; /* Abgerundete Ecken */
}

    .paginator .pagination .page-link:hover {
        background-color: deeppink !important; /* Dunkleres Blau beim Hover */
        border-color: #0056b3 !important; /* Dunklerer blauer Rahmen beim Hover */
    }

.paginator .pagination .page-item.active .page-link {
    background-color: deeppink !important; /* Grüner Hintergrund für aktive Seite */
    border-color: #28a745 !important; /* Grüner Rahmen für aktive Seite */
}

#row_label {
    color: #590d22;
}