@using Newtonsoft.Json
@using System.Text
@using Newtonsoft.Json.Linq
@page "/test"
<h3>Component</h3>

<input @bind="request"/>
<button @onclick="sendRequest">Send request</button>
<p>@response</p>

@code {
	public string request = "";
	public string response = "";

	public async Task sendRequest()
	{
		string endpoint = "https://api.openai.com/v1/chat/completions";

		var messages = new[]
		{
			new { role = "user", content = request}
		};

		var data = new
		{
			model = "gpt-4",
			messages = messages,
			temperature = 0.2
		};

		string jsonString = JsonConvert.SerializeObject(data);
		var content = new StringContent(jsonString, Encoding.UTF8, "application/json");
		HttpClient client = new HttpClient();

		// get the api key from the environment variables and add it to the request
		// key stored under HKEY_CURRENT_USER\Environment
		string apiKey = Environment.GetEnvironmentVariable("OPENAI_API_KEY", EnvironmentVariableTarget.User);
		client.DefaultRequestHeaders.Add("Authorization", "Bearer "+apiKey);
		client.DefaultRequestHeaders.Add("Content-Type", "application/json");

		var responseDos = await client.PostAsync(endpoint, content);
		string responseContent = await responseDos.Content.ReadAsStringAsync();
		var jsonResponse = JObject.Parse(responseContent);

		response = jsonResponse["choices"][0]["message"]["content"].Value<string>();
		await InvokeAsync(StateHasChanged);

	}
}